.monospace {
    font-family: Lucida Console, Courier, monospace;
}

.wrapper {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px; 
    padding-right: 10px; 
    padding-left:  10px; 
}

.label {
    color: black;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    font-family: "Lucida Console", Courier, monospace;
}

.h-flexbox-container {
    background-color: rgba(202, 15, 193, 0.055);
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
}



.single-flex-item {
    width: 100%;
    background-color: rgba(202, 15, 193, 0.055);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.h-flexbox-item {
    width: 100px;
    margin: 10px;
}

.h-flexbox-item-1 {
    flex-grow: 1;
}

.h-flexbox-item-2 {
    min-height: 20px;
}

.h-flexbox-item-3 {
    min-height: 20px;
    flex-shrink: 0;
    flex-grow: 3;
    width: 300px;
}